.buttonsContainer {
}

.responseContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.imageContainer {


}

.image {

}

.textContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.code {
    font-size: 20px;
    font-weight: bold;
}

.text {
    font-size: 16px;
}
.info {
    font-size: 16px;
}