.radio {
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    margin: 10px;
    display: flex;

}

.options {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}
